.bundle/
.idea/
.DS_Store
log/
tmp/
.env
solr/
config/database.yml
config/secrets.yml
public/uploads/
public/assets/
pgsql/
apache2/
tags
*.swp
*.swo
*.swn
*.swn

shariasource.dump
shariasource.sql
sunspot-solr.pid
public/assets.tar.gz
.ruby-version

help.md

database_dumps/*
*.sql
*.dump