.bundle/
.idea/
.DS_Store
log/
tmp/
.env
solr/
config/database.yml
config/secrets.yml
config/sunspot.yml
public/uploads/
public/assets/
vendor/bundle/
vendor/gems/
pgsql/
apache2/
tags
*.swp
*.swo
*.swn
*.swn
