.bundle/
.idea/
.DS_Store
log/
tmp/
.env
solr/
public/uploads/
public/assets/
pgsql/
apache2/
tags
*.swp
*.swo
*.swn
*.swn
redis/
python/
pip.freeze.txt
vendor/bundle
__MACOSX/
.ropeproject/
.byebug_history
