.inner-wrapper.corpusbuilder-document-container
  javascript:
    $( document ).ready(function() {
      var documentId = '#{ @document.ocr_document_id }';
      CorpusBuilder.init(
        document.getElementById('corpusbuilder'),
        {
          baseUrl: location.protocol + '//' + location.host + '/corpusbuilder',
          directUrl: '#{ Corpusbuilder::Ruby::Api.config.public_url }',
          documentId: documentId,
          showImage: true,
          editorEmail: '#{ editor_email }'
        }
      );
    });

  #corpusbuilder
