= render partial: 'home/three_item_block', locals: { block_title: 'Recent', collection: @home_presenter.recent_commentaries }
= render partial: 'home/three_item_block', locals: { block_title: 'Popular', collection: @home_presenter.popular_sources }
