.field_with_errors {
  input, textarea {
    margin-bottom:0;
  }
}

.chosen-container {
  margin-bottom:1em;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"],
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height:100%;
}

.mce-tinymce.mce-panel {
  margin-bottom:1em;
}

.mce-btn button:hover {
  background:transparent;
}
