.field_with_errors {
  input, textarea, select {
    margin-bottom:0;
  }
}

.chosen-container {
  margin-bottom:1em;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"],
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height:100%;
}

.mce-tinymce.mce-panel {
  margin-bottom:1em;
}

.mce-btn button:hover {
  background:transparent;
}

.page-preview {
  img {
    display:block;
    max-width:100%;
  }
}

form .tabs.vertical {
  overflow:auto;
  max-height:400px;
}

label {
  text-transform:capitalize;
  font-weight:bold;

  &.required:after {
    content:' (required)';
    font-weight:normal;
    font-size:.8em;
  }
}

form[data-docstyle="scan"], form[data-docstyle="scannotext"] {
  .noscan-only {
    display:none;
  }
}

form[data-docstyle="scannotext"] .page-preview {
  .page-text-preview {
    display:none;
  }
  .page-image-preview {
    float:left;
  }
}

form[data-docstyle="noscan"] {
  .scan-only {
    display:none;
  }
}
