@import "font-awesome-sprockets";
@import "font-awesome";
@import 'admin/foundation_and_overrides';
@import 'admin/global';
@import 'admin/forms';
@import 'admin/hierarchy';
@import 'admin/pill';
@import 'admin/tables';
@import 'admin/datatables';

.edit_user label.password.optional::after {
  content: " (Required only if changing password)";
  font-size: 0.8em;
  font-weight: normal;
  text-transform: none;
}

.notransform {
  text-transform: none;
}

