.pagination {
  margin: 8px 0px;
  font-size: 14px;
}

.pagination a {
  background: #f2f2f2;
  padding: 2px 4px;
  color: #555;
  border-radius: 2px;
}

.pagination-stats {
  font-size: 13px;
  color: #bbb;
}

.filters {
  .button {
    padding: 8px;
    margin: 0px;
    font-size: 14px;
    margin-right: 10px;
  }
}
