table {
  width:100%;

  .actions {
    width:25%;
  }

  .inline-list {
    margin-bottom:0;
    margin-left:-5px;

    > li {
      margin-left:5px;
    }

    form, input[type="submit"] {
      display: block;
    }
  }

  tr[data-processed="false"] {
    .actions {
      &:before {
        content:'Extracting Page Images...'
      }

      ul {
        display:none;
      }
    }

    td {
      color:#999;
      background:#eee;
      cursor:wait;
    }
  }
}
