= content_for :page_title, 'Geographic Regions'

h2 Geographic Regions

.hierarchy= render partial: 'admin/hierarchy_list', locals: { hash: @regions }

p= link_to 'New Geographic Region', new_admin_region_path, class: 'round button'
