= content_for :page_title, 'New Geographic Region'
= content_for :admin_active, 'Metadata'

h2 New Geographic Region

= render partial: 'admin/regions/form', locals: { form_url: admin_regions_path, parent_collection: Region.all, region: Region.new }
