/*
 *= require chosen
 *= require admin/_main
 *= require plupload-2.3.1/js/jquery.ui.plupload/css/jquery.ui.plupload
 *= require admin/_attached_files
 *= require admin/projects
 *= require admin/edit-documents
 */
