= content_for :page_title, 'Edit Static Page'
= content_for :admin_active, 'Static Pages'

h2 Edit Static Page

= render partial: 'admin/statics/form', locals: { form_url: admin_static_url(@static) }
