= content_for :page_title, 'New Collaborator'
= content_for :admin_active, 'Collaborators'

h2 New Collaborator

= render partial: 'admin/collaborators/form', locals: { form_url: admin_collaborators_path }
