.large-12.columns
  javascript:
    var loadStatus = function() {
      if(window.CorpusBuilderDocumentStatus === undefined) {
        setTimeout(loadStatus, 1000);
        return;
      }
      var corpusBuilderStatuis = CorpusBuilderDocumentStatus.init(
        document.getElementById('corpusbuilderuploader'),
        {
          baseUrl: '#{ request.base_url }/corpusbuilder',
          editorEmail: '#{ editor_email }',
          documentId: '#{ document.ocr_document_id }'
        }
      );
    };
    $( document ).ready(loadStatus);
  #corpusbuilderuploader

