= content_for :page_title, 'Document Types'
= content_for :admin_active, 'Metadata'

h2 Document Types

.hierarchy= render partial: 'admin/hierarchy_list', locals: { hash: @document_types }

p= link_to 'New Document Type', new_admin_document_type_path, class: 'round button'
