.browse-tables {
  padding-bottom:60px;
  min-height:500px;

  .expand-all {
    margin-top:8px;
  }
}

.section-heading.browse {
  border-bottom:5px solid $ss-color-borders;
  margin-bottom:16px;
}

.browse-table {
  font-family:$ss-font-serif;
  font-size:14px;
  border:0;
  border-spacing:0;
  border-collapse:collapse;
  margin:0;
  padding:0 0 32px 0;
  table-layout:fixed;
  width:100%;

  tr {
    a {
      @include color-hover($ss-color-heading, $ss-color-heading);
    }

    &:nth-of-type(even) {
      background:white;
    }

    &[data-depth="0"] {
      th {
        padding-top:24px;
        font-weight:bold;
      }

      td {
        padding-top:24px;
      }
    }

    &[data-depth="1"], &[data-depth="2"] {
      a {
        @include color-hover($ss-color-bodytext, $ss-color-heading);
      }
    }

    &[data-depth="2"] th {
      padding-left:40px;
    }

    &[data-extended] {
      display:none;
    }
  }

  th, td {
    line-height:1.14286;
    width:99px;

    &:first-child {
      width:auto;
    }
  }

  th {
    border-bottom:1px solid #e7e9e8;

    &[scope="col"], &.tcol {
      background:white;

      &:nth-child(even) {
        background:$ss-color-bodybg;
      }
    }

    &[scope="row"], &.trow {
      font-weight:normal;
      padding:6px 20px 4px 0;
      font-size:15px;
    }
  }

  td {
    border-bottom:1px solid #e7e9e8;
    vertical-align:top;
    padding:6px 4px 4px 4px;
    font-size:15px;

    &:nth-child(even) {
      background:$ss-color-bodybg;
    }

    &[data-count="0"] a {
      visibility:hidden;
    }

    a {
      @include color-hover($ss-color-bodytext, $ss-color-heading);
    }
  }

  .expand {
    display:inline-block;
    text-indent:-9999px;
    overflow:hidden;
    width:12px;
    height:9px;
    background:url(image-path('browse-expand.svg')) 0 0 no-repeat;
    background-size:12px 9px;

    &:hover, &:focus {
      background-image:url(image-path('browse-expand-hover.svg'));
    }

    &.is-expanded {
      background-image:url(image-path('browse-contract.svg'));

      &:hover, &:focus {
        background-image:url(image-path('browse-contract-hover.svg'));
      }
    }
  }
}

.browse-headings th {
  border-bottom-width:2px;
  vertical-align:bottom;
  padding:8px 8px 4px 4px;

  &:first-child {
    padding-left:0;
  }
}

.browse-headings-sticky {
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;

  &.showing {
    display:block;
  }

  table {
    display:block;
    width:960px;
    margin:0 auto;
    padding:0;
  }

  th:first-child {
    width:267px;
    padding-left:0;
    font-size:15px;
  }
}

.document-type-lists {
  width:1000px;
  overflow:hidden;
  margin-left:-40px;
  padding-bottom:40px;
}

.document-type-column {
  float:left;
  width:460px;
  margin-left:40px;

  ul {
    list-style:none;
    margin-left:0;
  }

  li {
    display:block;
    font-size:15px;
    font-family:$ss-font-serif;
    line-height:1.14286;
    padding:6px 0 4px 0;
    border-bottom:1px solid $ss-color-borders;
    width:100%;
    overflow:hidden;
    position:relative;

    &.root .name {
      color:$ss-color-heading;
      font-weight:bold;
    }

    &.root, &.root .count {
      padding-top:32px;
    }
  }

  a {
    display:block;
    padding-right:100px;
    @include color-hover($ss-color-bodytext, $ss-color-heading)
  }

  span {
    display:block;
  }

  .count {
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:100px;
    padding:6px 0 0 4px;
    background:$ss-color-bodybg;
  }
}
