.contributor-search {
  padding-top:24px;
  padding-bottom:48px;
  margin-top:24px;
  border-top:5px solid $ss-color-borders;

  .result-count {
    display:none;
  }
}

#contributors-table th, #contributors-table td {
  width: initial;
}
#table-term-start, #table-term-end {
  width: 55px !important;
}
#table-name {
  width: 180px !important;
}
#contemporary-primary-sources {
  width: 95px !important;
}
#contributors-table td:nth-child(even) {
  background-color: #f0f2f1;
}
#contributors-table td:nth-child(odd){
  background-color: white;
}
#contributors-table th[scope="col"]:nth-child(even), #contributors-table th.tcol:nth-child(even) {
  background-color: #f0f2f1;
}
#contributors-table th[scope="col"]:nth-child(odd), #contributors-table th.tcol:nth-child(odd) {
  background-color: white;
}
#contributors-table tbody tr th, #contributors-table tbody tr td{
  color: #646967;
}