.breadcrumb {
  font-size:12px;
  margin:0;

  a {
    font-weight:bold;
    @include underline-hover($ss-color-bodytext);
  }
}

.byline {
  font-size:12px;
  line-height:1;
  font-weight:bold;
  color:$ss-color-heading;

  a {
    @include underline-hover($ss-color-heading);
  }
}

.share-links {
  float:right;
}

.document {
  padding-top:24px;

  h2 {
    margin:0 0 16px 0;
    font-size:28px;
    line-height:1.14286;
    font-weight:bold;
  }
}

.metadata-inner {
  width:980px;
  margin:0 auto;

  @media screen and (max-width:1020px) {
    overflow:hidden;
  }
}

.metadata {
  @include clearfix;
  width:1020px;
  margin-left:-30px;
}

.meta-column {
  float:left;
  width:239px;
  margin-left:8px;
  background:blue;

  &.first, &.last {
    width:259px;
  }

  .first {
    padding-left:20px;
  }

  .last {
    padding-right:20px;
  }
}
