.breadcrumb {
  font-size:12px;
  margin:0;

  a {
    font-weight:bold;
    @include underline-hover($ss-color-bodytext);
  }
}

.byline {
  font-size:12px;
  line-height:1;
  font-weight:bold;
  color:$ss-color-heading;

  a {
    @include underline-hover($ss-color-heading);
  }
}

.share-links {
  float:right;
  margin:0;

  li {
    float:left;
    margin-left:10px;
  }

  a {
    display:block;
    width:48px;
    height:48px;
    overflow:hidden;
    text-indent:-9999px;
  }

  .print {
    background:url(image-path('docs-print.svg')) 0 0 no-repeat;
    background-size:48px 48px;

    &:hover {
      background-image:url(image-path('docs-print-hover.svg'));
    }
  }

  .email {
    background:url(image-path('docs-email.svg')) 0 0 no-repeat;
    background-size:48px 48px;

    &:hover {
      background-image:url(image-path('docs-email-hover.svg'));
    }
  }

  .twitter {
    background:url(image-path('docs-twitter.svg')) 0 0 no-repeat;
    background-size:48px 48px;

    &:hover {
      background-image:url(image-path('docs-twitter-hover.svg'));
    }
  }

  .facebook {
    background:url(image-path('docs-facebook.svg')) 0 0 no-repeat;
    background-size:48px 48px;

    &:hover {
      background-image:url(image-path('docs-facebook-hover.svg'));
    }
  }
}

.document {
  padding-top:24px;

  h2 {
    margin:0 0 16px 0;
    font-size:28px;
    line-height:1.14286;
    font-weight:bold;
  }
}

.metadata-inner {
  width:980px;
  margin:0 auto;

  @media screen and (max-width:1020px) {
    overflow:hidden;
  }
}

.metadata {
  @include clearfix;
  width:1004px;
  margin-left:-14px;
  padding-bottom:32px;
}

.meta-column {
  float:left;
  width:237px;
  padding:10px;
  margin-left:4px;
  background:$ss-color-bodybg;

  &.first, &.last {
    width:257px;
  }

  &.first {
    padding-left:20px;
  }

  &.last {
    padding-right:20px;
  }

  ul {
    list-style:none;
    margin:0;
    line-height:1.16666667;
    font-family:$ss-font-serif;
    font-size:14px;
    line-height:1.14286;
  }

  h3 {
    font-family:$ss-font-serif;
    font-size:14px;
    font-weight:bold;
    margin:0 0 4px 0;
  }

  a {
    color:$ss-color-secondary;
  }

  strong {
    color:$ss-color-heading;
    margin-right:4px;
  }

  li {
    margin:2px 0;
  }

  &.references {
    ul {
      list-style:disc inside;
    }

    a {
      line-height:1;
      vertical-align:top;
      @include underline-hover($ss-color-bodytext);
    }
  }

  .suggest-tags {
    font-weight:bold;
    margin-top:12px;

    &:before {
      content:'';
      display:inline-block;
      background:url(image-path('doublearrow.svg')) 0 0 no-repeat;
      width:15px;
      height:12px;
      background-size:15px 12px;
      margin-right:5px;
      position:relative;
      top:1px;
    }
  }
}

.document-content {
  color:$ss-color-content;
  width:740px;
  margin:0 auto;
  padding:0 10px 10px 10px;

  p, ul, ol, {
    font-family:$ss-font-serif;
    font-size:22px;
  }

  a {
    @include underline-hover($ss-color-contentlink);
  }
}

.deck-container {
  height:640px;
  width:100%;
  padding-bottom:50px;
  position:relative;

  .slide {
    height:590px;
    overflow:hidden;
  }

  .text {
    float:left;
    width:430px;
    height:100%;
    overflow:auto;
    padding-right:20px;
  }

  .image-viewer {
    float:right;
    width:500px;
    height:100%;
    border:1px solid $ss-color-secondary;
  }

  .controls {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    height:38px;
    text-align:center;
    font-size:12px;
    line-height:32px;
  }

  .deck-prev-link, .deck-next-link {
    display:inline-block;
    width:32px;
    height:32px;
    text-indent:-9999px;
    overflow:hidden;
  }

  .deck-prev-link {
    background:url(image-path('docs-prev.svg')) 0 0 no-repeat;
    background-size:32px 32px;
    margin-right:30px;

    &:hover, &:focus {
      background-image:url(image-path('docs-prev-hover.svg'));
    }
  }

  .deck-next-link {
    background:url(image-path('docs-next.svg')) 0 0 no-repeat;
    background-size:32px 32px;
    margin-left:30px;

    &:hover, &:focus {
      background-image:url(image-path('docs-next-hover.svg'));
    }
  }

  .deck-nav-disabled {
    opacity:.3;
    cursor:default;
    pointer-events:none;
  }

  .status {
    display:inline-block;
    vertical-align:top;
  }
}

.source-end {
  border-top:4px solid $ss-color-bodybg;
  background:#fff;
  height:48px;
  margin:0;
}
