.breadcrumb {
  font-size:12px;
  margin:0;

  a {
    font-weight:bold;
    @include underline-hover($ss-color-bodytext);
  }
}

.byline {
  font-size:12px;
  line-height:1;
  font-weight:bold;
  color:$ss-color-heading;

  a {
    @include underline-hover($ss-color-heading);
  }
}

.share-links {
  float:right;
}

.document {
  padding-top:24px;

  h2 {
    margin:0 0 16px 0;
    font-size:28px;
    line-height:1.14286;
    font-weight:bold;
  }
}

.metadata-inner {
  width:980px;
  margin:0 auto;

  @media screen and (max-width:1020px) {
    overflow:hidden;
  }
}

.metadata {
  @include clearfix;
  width:1004px;
  margin-left:-14px;
  padding-bottom:32px;
}

.meta-column {
  float:left;
  width:237px;
  padding:10px;
  margin-left:4px;
  background:$ss-color-bodybg;

  &.first, &.last {
    width:257px;
  }

  &.first {
    padding-left:20px;
  }

  &.last {
    padding-right:20px;
  }

  ul {
    list-style:none;
    margin:0;
    line-height:1.16666667;
    font-family:$ss-font-serif;
    font-size:14px;
    line-height:1.14286;
  }

  h3 {
    font-family:$ss-font-serif;
    font-size:14px;
    font-weight:bold;
    margin:0 0 4px 0;
  }

  a {
    color:$ss-color-secondary;
  }

  strong {
    color:$ss-color-heading;
    margin-right:4px;
  }

  li {
    margin:2px 0;
  }

  &.references {
    ul {
      list-style:disc inside;
    }

    a {
      line-height:1;
      vertical-align:top;
      @include underline-hover($ss-color-bodytext);
    }
  }

  .suggest-tags {
    font-weight:bold;
    margin-top:12px;

    &:before {
      content:'';
      display:inline-block;
      background:url(image-path('doublearrow.svg')) 0 0 no-repeat;
      width:15px;
      height:12px;
      background-size:15px 12px;
      margin-right:5px;
      position:relative;
      top:1px;
    }
  }
}

.document-content {
  color:$ss-color-content;
  width:740px;
  margin:0 auto;
  padding:0 10px 10px 10px;

  p, ul, ol, {
    font-family:$ss-font-serif;
    font-size:22px;
  }

  a {
    @include underline-hover($ss-color-contentlink);
  }
}
