@mixin underline-hover($color) {
  color:$color;

  &:hover, &:focus {
    text-decoration:underline;
  }
}

body {
  font-family:$ss-font-sans;
  color:$ss-color-bodytext;
}

input[type="text"], input[type="email"] {
  color:$ss-color-primary;
  font-weight:bold;
  font-size:14px;
}

a, button, input {
  transition:none;
}

.ss-button {
  display:inline-block;
  text-align:center;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:34px;
  height:32px;
  letter-spacing:1px;
  border:0;
  padding:0 10px;
  background:url(image-path('ss-button-matrix.png')) 0 0 repeat-x;
  color:$ss-color-secondary;
  position:relative;
  margin-left:7px;

  &:before, &:after {
    content:'';
    position:absolute;
    top:0;
    bottom:0;
    width:7px;
  }

  &:before {
    background:url(image-path('ss-button-matrix.png')) 0 -32px no-repeat;
    left:-7px;
  }

  &:after {
    background:url(image-path('ss-button-matrix.png')) 0 -64px no-repeat;
    right:-7px;
  }

  &:hover, &:focus {
    color:#fff;
    background-position:0 -96px;

    &:before {
      background-position: 0 -128px;
    }

    &:after {
      background-position: 0 -160px;
    }
  }
}
