.home-block {
  @include clearfix;
  padding-top:4px;
  padding-bottom:20px;
  border-bottom:4px solid $ss-color-bodybg;

  .featured-item {
    float:left;
    width:600px;

    h3 {
      font-size:26px;
      font-weight:bold;
      line-height:1.154;
      margin-bottom:16px;

      a {
        @include underline-hover($ss-color-heading);
      }
    }

    .byline {
      margin:0;
    }

    .references {
      margin:4px 0 0 0;
      font-size:14px;
      font-family:$ss-font-serif;
      line-height:1.14286;

      .documents {
        font-style:italic;
        margin-right:5px;
      }

      a {
        @include color-hover($ss-color-bodytext, $ss-color-heading);
      }
    }

    .summary p {
      margin:4px 0 0 0;
      font-family:$ss-font-serif;
      font-size:14px;
      line-height:1.14286;

      & + p {
        display:none;
      }

      a {
        @include color-hover($ss-color-heading, $ss-color-heading);
      }
    }
 
    .summary ul, ol, dl {
      font-family:$ss-font-serif;
      font-size:14px;
      line-height:1.14286;
      margin-left: 1.4rem;
      margin-bottom: 0;
    }
  }

  .aside-items {
    float:right;
    width:320px;
    margin-top:-24px;

    h3 {
      font-size:14px;
      font-weight:bold;
      line-height:1.14286;
      margin:0 0 4px 0;

      a {
        @include underline-hover($ss-color-heading);
      }
    }

    p {
      font-size:12px;
      margin:0 0 16px 0;

      a {
        @include underline-hover($ss-color-bodytext);
      }
    }
  }
}

.home-block-heading {
  font-size:12px;
  line-height:1.33333;
  text-transform:uppercase;
  color:$ss-color-secondary;
  font-weight:bold;
  margin:8px 0 16px 0;
  letter-spacing:1px;
}
.about-short a {
  @include color-hover($ss-color-secondary, $ss-color-headerfooterlink);
}
.home-collaborators {
  padding-top:4px;
  padding-bottom:56px;
  width:980px;
  margin:0 auto;

  @media screen and (max-width:1020px) {
    overflow:hidden;
  }

  .home-block-heading {
    margin-bottom:24px;
    text-indent:10px;
  }

  .collaborator-list {
    @include clearfix;
    width:1020px;
    margin-left:-30px;
  }

  .collaborator {
    width:320px;
    margin-left:20px;
  }

  .more-collaborators {
    text-align:center;
    margin:35px 0 0 0;

    .ss-button {
      padding:0 40px;
    }
  }
}

#collaborator-0 .content {
  margin-left:20px;
}
