.container {
  background:$ss-color-bodybg;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.inner-wrapper {
  min-width:980px;
  max-width:1040px;
  margin:0 auto;
  background:#fff;
}

.main-content {
  flex-grow: 2;
}

.inner {
  width:980px;
  padding: 0 20px;
  margin: 0 auto;
}
