@media print {
  .site-nav, .footer, nav.top-bar, .image-viewer {
    display:none !important;
  }

  .banner {
    border:none !important;

    form {
      display:none !important;
    }

    .banner-logo {
      width:auto !important;
      height:auto !important;
      overflow:visible !important;
      text-indent:0 !important;
      margin:0 !important;
      text-decoration:none !important;
    }

    .inner-wrapper {
      height:auto !important;
    }

    .inner {
      padding-top:0 !important;
    }

    h1, h2 {
      font-family:$ss-font-sans !important;
      font-weight:bold !important;
    }
  }

  .image-viewer-container {
    height:auto !important;

    .controls {
      display:none !important;
    }

    .text {
      width:100% !important;
    }
  }

  .page-text {
    display:block !important;
    padding-bottom:1em;
    margin-bottom:1em;
    border-bottom:5px solid black;
  }

  a[href]:after {
    content:'' !important;
  }
}
