// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-description {
  p {
    font-size: 12pt;
    line-height: 16pt;
  }
}

.named_filter_label {
  margin: 0 !important;
}
