.search-heading {
  padding-bottom:20px;
}

.search-two-columns {
  position:relative;
  @include clearfix;
  padding-bottom:48px;
}

.search-results {
  float:right;
  width:640px;
  padding-left:40px;
  transition:opacity 300ms ease-in-out;

  &.loading {
    opacity:0.1;
  }
}

.filter-header {
  background:$ss-color-bodybg;
  line-height:32px;
  height:32px;
  vertical-align:middle;
  font-size:12px;
  padding:0 10px;
  position:relative;

  h3 {
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    margin-right:20px;
    text-transform:uppercase;
    letter-spacing:1px;
  }

  ul {
    position:absolute;
    top:0;
    right:0;
    display:block;
    margin:0;
    list-style:none;
    height:32px;
    line-height:32px;
    font-size:12px;
  }

  li {
    float:right;
    height:32px;
    line-height:32px;
    margin-right:10px;
    padding-right:10px;
    border-right:1px solid $ss-color-borders;

    &:first-child {
      border-right:0;
      margin-right:0;
    }
  }

  a {
    display:block;
    height:32px;
    line-height:32px;
    @include color-hover($ss-color-secondary, $ss-color-headerfooterlink);
  }

  &.all-expanded .expand-all, &.all-contracted .contract-all {
    display:none;
  }
}

.search-field-large {
  position:relative;

  input[type="text"] {
    background:white;
    border:4px solid $ss-color-borders;
    box-shadow:none;
    padding-right:40px;
  }

  input[type="submit"] {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:40px;
    border:0;
    text-indent:-9999px;
    overflow:hidden;
    background:url(image-path('search-magglass.svg')) center center no-repeat;
    background-size:14px 14px;

    &:hover, &:focus {
      background-image:url(image-path('search-magglass-hover.svg'));
    }
  }
}

.filter-block {
  @include clearfix;
  position:relative;

  h3 {
    font-size:12px;
    font-weight:bold;
    line-height:1.14286;
    margin-bottom:4px;
    text-transform:uppercase;
    margin:12px 0;
    letter-spacing:1px;

    > a {
      @include color-hover($ss-color-secondary, $ss-color-headerfooterlink);
    }
  }

  label {
    font-family:$ss-font-serif;
    color:$ss-color-bodytext;
    text-transform:capitalize;
    overflow:hidden;
    padding:3px 0 2px 0;
    position:relative;
    line-height:1.1486;

    .unselect-all {
      display: block;
      height: 32px;
      line-height: 32px;
      color: #eba400;
    }

    &.check-label {
      padding-left:20px;

      &:before {
        content:'';
        position:absolute;
        left:0;
        top:3px;
        width:12px;
        height:12px;
        background:$ss-color-borders;
        border:2px solid #fff;
      }

      &.checked:before {
        background:$ss-color-secondary;
        border:1px solid $ss-color-borders;
      }
    }

    &.radio-label {
      padding-left:20px;

      &:before {
        content:'';
        position:absolute;
        left:0;
        top:1px;
        width:16px;
        height:16px;
        background:$ss-color-borders;
        border:2px solid #fff;
        border-radius:8px;
      }

      &.selected:before {
        background:$ss-color-secondary;
        border:1px solid $ss-color-borders;
      }
    }

    &.all {
      color:$ss-color-heading;
      font-weight:bold;
      margin-bottom:8px;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 20px;
    position: relative;
    outline: none !important;
  }

  input[type="radio"]:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0px;
      top: 2px;
      width: 12px;
      height: 12px;
      background: #e7e9e8;
      border: 2px solid #fff;
  }

  input[type="radio"]:checked:before {
    background: #eba400;
    border: 1px solid #e7e9e8;
  }

  select[multiple] {
    padding:2px;
    margin-bottom:4px;
    font-size:12px;
  }

  ul {
    list-style:none;
    margin:0;

    ul {
      list-style:none;
      margin-left:20px;
    }

    &.filter-hierarchy {
      > li > label {
        font-weight:bold;
        color:$ss-color-heading;
      }
    }
  }

  .extended {
    display:none;
  }

  &.is-expanded .extended {
    display:list-item;
  }
}

.expand-contract {
  display:block;
  background:url(image-path('browse-contract.svg')) 97% 50% no-repeat;
  background-size:12px 9px;

  &:hover, &:focus {
    background-image:url(image-path('browse-contract-hover.svg'));
  }

  .is-contracted & {
    background-image:url(image-path('browse-expand.svg'));

    &:hover, &:focus {
      background-image:url(image-path('browse-expand-hover.svg'));
    }
  }
}

.filter-hierarchy .check-label.soft:before,
.filter-hierarchy .check-label.checked + ul .check-label:before {
  background:$ss-color-secondarysoft;
  border:2px solid #fff;
}

.multiple-instructions {
  font-size:12px;
  line-height:1;
}

.date-block {
  label {
    color:$ss-color-heading;
    font-weight:bold;
    display:inline-block;
    margin-right:20px;
  }

  input[type="text"] {
    border:1px solid #ccc;
    box-shadow:none;
    font-family:$ss-font-serif;
    padding-top:10px;
    font-weight:normal;
    margin:-6px 0 8px 0;
  }
}

.search-sidebar {
  float:left;
  width:320px;
  padding-right:20px;

  &:before {
    content:'';
    width:4px;
    background:$ss-color-borders;
    position:absolute;
    top:0;
    bottom:48px;
    left:316px;
  }

  .filter-block {
    padding-bottom:12px;
    border-bottom:4px solid $ss-color-borders;
  }

  .date-block {
    float:left;
    width:140px;
    margin-right:10px;

    &.format {
      display:block;
      width:auto;
    }
  }

  .js-same-height {
    height:auto !important;
  }

  .filter-document-types .filter-block {
    border-bottom:0;
  }

  .filter-content {
    display:none;
  }
}

.search-full-width {
  .search-field-large {
    width:640px;

    input[type="text"] {
      height:52px;
      font-size:20px;
      padding-right:54px;
    }

    input[type="submit"] {
      width:54px;
      background-size:32px 24px;
    }
  }

  .filter-header {
    ul, li, a {
      position:static;
      float:none;
      display:inline;
      border:0;
    }

    .expand-all, .contract-all {
      display:none;
    }
  }

  .expand-contract {
    background:none;
    cursor:default;
    //pointer-events:none;
    @include color-hover($ss-color-secondary, $ss-color-secondary);

    &:hover, &:focus {
      background:none;
    }
  }

  .filter-date {
    float:left;
    width:478px;
    padding:0 10px 10px 0;
  }

  .filter-language {
    float:left;
    width:244px;
    border-left:4px solid $ss-color-borders;
    border-right:4px solid $ss-color-borders;
    padding:0 10px 10px 10px;
  }

  .filter-contributor {
    float:left;
    width:238px;
    padding:0 0 10px 10px;
  }

  .filter-row {
    @include clearfix;
    border-bottom:4px solid $ss-color-borders;
    margin:16px 0;
    padding-bottom:16px;

    &.last {
      border-bottom:0;
      margin-bottom:0;
      padding-bottom:48px;
    }
  }

  .filter-block + .filter-block {
    margin-top:32px;
  }

  .filter-topics-themes {
    float:left;
    width:162px;
    border-right:4px solid $ss-color-borders;
    padding:0 10px 0 0;
  }

  .filter-regions {
    float:left;
    width:260px;
    border-right:4px solid $ss-color-borders;
    padding:0 10px 0 10px;
  }

  .filter-eras {
    float:left;
    width:360px;
    border-right:4px solid $ss-color-borders;
    padding:0 10px 0 10px;
  }

  .filter-document-types {
    float:left;
    width:178px;
    padding:0 0 0 10px;
  }

  .date-block {
    float:left;
    width:150px;
    margin-right:10px;

    &.format {
      margin-right:0;
      width:130px;
      padding-top:38px;
    }
  }
}

.result {
  @include clearfix;
  padding:12px 0 20px 0;
  border-bottom:4px solid $ss-color-borders;
}

.result-info {
  float:left;
  width:440px;

  .breadcrumb {
    line-height:1.33333;
    margin:0;
  }

  h2 {
    font-size:16px;
    font-weight:bold;
    line-height:1.25;
    margin:2px 0 6px 0;

    a {
      @include underline-hover($ss-color-heading);
    }
  }

  .byline {
    margin:0;

    &, & a {
      color:$ss-color-bodytext;
      font-weight:normal;
    }
  }
}

.result-thumbnail {
  float:right;
  width:160px;
  padding-left:20px;

  img {
    display:block;
    float:right;
    max-height:80px;
    max-width:140px;
    border:1px solid #ccc;
  }
}

.filter-extend-toggle {
  display:block;
  font-size:16px;
  font-weight:bold;
  font-family:$ss-font-serif;
  -webkit-font-smoothing:antialiased;
  margin-top:24px;
  padding-left:20px;
  @include color-hover($ss-color-secondary, $ss-color-headerfooterlink);

  &:before {
    content:'»';
    font-size:2em;
    line-height:0.625;
    vertical-align:top;
    margin-right:4px;
    margin-left:-20px;
  }
}

.search_filters_sort {
  position:relative;

  label {
    position:absolute;
    left:10px;
    top:2px;
    height:30px;
    line-height:32px;
    font-family:$ss-font-serif;
    font-size:14px;
  }
}

#search_filters_sort {
  width:270px;
  background-image:url(image-path('browse-expand.svg'));
  background-position:96% center;
  background-size:12px 9px;
  background-color:#fff;
  border-color:#ccc;
  font-family:$ss-font-serif;
  font-size:14px;
  height:32px;
  padding:2px 0 0 60px;
}

.more-results {
  margin-top:16px;
}

.result-count {
  font-size:16px;
  line-height:1.375;
  color:$ss-color-heading;
  font-weight:bold;
  margin-top:-42px;
  margin-bottom:18px;

  .count {
    margin-right:6px;
  }
}

.result-summary-filter {
  background:$ss-color-bodybg;
  color:$ss-color-bodytext;
  font-size:11px;
  font-weight:normal;
  padding:2px 6px;
  display:inline-block;
  margin-right:6px;
  position:relative;
  top:-1px;

  .name {
    text-transform:capitalize;
  }
}
