.header {
  padding-top: 10px;
  padding-bottom: 8px;
}

.f-dropdown {
  position: absolute;
  left: -99999px;
  background: white;
  padding: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 999;

  li {
    display: block !important;
  }
}

.site-nav {
  margin:0;
  list-style:none;
  font-weight:bold;
  font-size:14px;
  float:left;
  margin-left: 115px;
  position: relative;
  top: 12px;

  li {
    width: auto;
    padding-right:20px;
    padding-bottom: 16px;
    line-height:1.14286;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  a {
    color:$ss-color-primary;
    display:block;

    &:hover, &:focus {
      color:$ss-color-secondary;
    }
  }
}

.header-social-links {
  float: right;
}

.header .social-links {
  padding-top: 10px;

  li {
    margin-left:8px;
    padding-right: 8px;
  }

  li:first-child {
    margin-left: 0px;
  }

  li.signup-link {
    margin-top: 0px !important;
  }

  li.login-link, li.signup-link {
    text-align: center;
    margin-left: 0px;
    font-weight: bold;

    a {
      text-indent: 0px;
      height: auto;
      font-size: 13px;
      line-height: 16px;
      color: RGBA(243, 178, 62, 1);
    }
  }

  .twitter {
    width:18px;
    background:url(image-path('header-twitter.svg')) 0 0 no-repeat;
    background-size:18px 16px;
    margin: 0 auto;

    &:hover, &:focus {
      background-image:url(image-path('twitter-hover.svg'));
    }
  }

  .facebook {
    width:8px;
    background:url(image-path('header-facebook.svg')) 0 0 no-repeat;
    background-size:8px 14px;

    &:hover, &:focus {
      background-image:url(image-path('facebook-hover.svg'));
    }
  }

  .wordpress {
    width:16px;
    background:url(image-path('header-wordpress.svg')) 0 0 no-repeat;
    background-size:14px 16px;

    &:hover, &:focus {
      background-image:url(image-path('wordpress-hover.svg'));
    }
  }

}
