.header {
  padding-top:20px;
  padding-bottom:12px;
}

.site-nav {
  margin:0;
  list-style:none;
  font-weight:bold;
  font-size:14px;
  float:left;

  li {
    float:left;
    width:120px;
    padding-right:20px;
    line-height:1.14286;
  }

  a {
    color:$ss-color-primary;
    display:block;

    &:hover, &:focus {
      color:$ss-color-secondary;
    }
  }
}

.header .social-links {
  float:right;

  li {
    margin-left:8px;
  }

  .twitter {
    width:24px;
    background:url(image-path('header-twitter.svg')) 0 0 no-repeat;
    background-size:24px 16px;

    &:hover, &:focus {
      background-image:url(image-path('twitter-hover.svg'));
    }
  }

  .facebook {
    width:8px;
    background:url(image-path('header-facebook.svg')) 0 0 no-repeat;
    background-size:8px 16px;

    &:hover, &:focus {
      background-image:url(image-path('facebook-hover.svg'));
    }
  }

  .linkedin {
    width:18px;
    background:url(image-path('header-linkedin.svg')) 0 0 no-repeat;
    background-size:18px 16px;

    &:hover, &:focus {
      background-image:url(image-path('linkedin-hover.svg'));
    }
  }

  .rss {
    width:16px;
    background:url(image-path('header-rss.svg')) 0 0 no-repeat;
    background-size:16px 16px;

    &:hover, &:focus {
      background-image:url(image-path('rss-hover.svg'));
    }
  }
}
