.header {
  padding-top:20px;
  padding-bottom:12px;
}

.site-nav {
  margin:0;
  list-style:none;
  font-weight:bold;
  font-size:14px;
  float:left;

  li {
    float:left;
    width:118px;
    padding-right:20px;
    line-height:1.14286;
  }

  a {
    color:$ss-color-primary;
    display:block;

    &:hover, &:focus {
      color:$ss-color-secondary;
    }
  }
}

.header-social-links {
  position: relative;
  bottom: 15px;
}

.header .social-links {
  float:right;
  position: relative;
  top: 22px;

  li {
    margin-left:8px;
  }

  li.login-link {
    a {
      text-indent: 0px;
      height: auto;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px;
      color: RGBA(243, 178, 62, 1);
    }
  }

  .twitter {
    width:24px;
    background:url(image-path('header-twitter.svg')) 0 0 no-repeat;
    background-size:24px 16px;

    &:hover, &:focus {
      background-image:url(image-path('twitter-hover.svg'));
    }
  }

  .facebook {
    width:8px;
    background:url(image-path('header-facebook.svg')) 0 0 no-repeat;
    background-size:8px 16px;

    &:hover, &:focus {
      background-image:url(image-path('facebook-hover.svg'));
    }
  }

  .wordpress {
    width:24px;
    background:url(image-path('header-wordpress.svg')) 0 0 no-repeat;
    background-size:16px 16px;

    &:hover, &:focus {
      background-image:url(image-path('wordpress-hover.svg'));
    }
  }

}
