.topic-theme-viz {
  display: block;
  margin: auto;
}

.node { cursor: zoom-in; }
.node.is-focus, .node.parent-is-focus { cursor: zoom-out; }
.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}
.node--leaf { fill: white; }
.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.node--root,
.node--leaf {
  pointer-events: none;
}

.show-hide-visuals {
  color: $ss-color-secondary;
  cursor: pointer;

  &:before {
    content: '>>';
    margin-right: 8px;
  }

  &:hover {
    color: #ebc700;
  }
}
