@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url('https://fonts.googleapis.com/css?family=Expletus+Sans');

$ss-font-sans: "Expletus Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
$ss-font-serif: "Aref Ruqaa", Times, Times New Roman, Georgia, serif;

$ss-color-primary: #222;
$ss-color-secondary: #fceba1 - #555;
$ss-color-secondarysoft: #fceba1;
$ss-color-headerfooterlink: #fceba1;
$ss-color-bodybg: #f0f2f1;
$ss-color-borders: #e7e9e8;
$ss-color-bodytext: #646967;
$ss-color-heading: #222;
$ss-color-content: #222;
$ss-color-emptytext: #999;
