$ss-font-sans: Helvetica, Arial, sans-serif;
$ss-font-serif: Amiri, Times, Times New Roman, Georgia, serif;

$ss-color-primary: #660011;
$ss-color-secondary: #fdaf00;
$ss-color-bodybg: #f1f2f1;
$ss-color-bodytext: #646967;
$ss-color-heading: #160700;
